*{box-sizing: border-box; margin: 0; padding: 0;}

.sec1{
    height: 110vh; 
    background-image: url(file:///C:/Users/Aluno/Desktop/tt/projeto_I/img/antique-cafe-bg-01.jpg);
    background-size: 100%;
}

.imgbody{
    width: 100%;
    position: relative;
}

.menu{
    width: 100%; 
    background-color: black; 
    opacity: 50%; 
    z-index: 1;
    position: fixed;
}

.menu ul{
        list-style: none;
        text-align: right;
        
}

.menu ul li{
    padding: 2rem 1rem;
    display: inline-block;
}

.menu ul li a{
    color: #D2691E;   
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.35ms;
    padding: 2rem;
    
}

.menu ul li a:hover{
    background-color :#A52A2A;
    color:black;
    width: 100%;
    border-radius: 20%;
}

.txtb1{
    position: relative;
    top: 15rem;
    right: -35%;
    width: 30%;
    background-color: black;
    opacity: 70%;
    height: 25%;
    border-radius: 3%;
}

.txtb1 h1{
    text-align: center;
    color: white;
    padding: 2rem;
    margin-bottom: 1rem;
    font-size: 4rem;
}

.txtb1 p{
    text-align: center;
    color:#D2691E ;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.txt2b1{
    width: 30%;
    background-color: black;
    opacity: 70%;
    position: relative;
    top: 20rem;
    right: -35%;
    border-radius: 3%;
}

.txt2b1 p{
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
    
}

.sec2{
    background-image: url(file:///C:/Users/Aluno/Desktop/tt/projeto_I/img/antique-cafe-bg-02.jpg);
    background-size: 100%;
}